:root {
  background-color: #0b0b0a;
}

.App {
  /* height: 100vh; */
  background-color: #0b0b0a;
}

.home {
  width: 40px;
  cursor: pointer;
}

.admin {
  color: #f4eee7;
  height: max-content !important;
  padding: 0 30px;
  padding-bottom: 50px;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.first h1 {
  cursor: pointer;
}

.first h1:hover {
  color: #fe9400;
}

.admin h2 {
  background-image: linear-gradient(135deg, #4285f4, #0f9d58, #f4b400, #db4437);

  background-clip: text;
  -webkit-background-clip: text; /* For Safari support */

  color: transparent;
  font-weight: 600;
}

.admin-1 {
  padding: 25px;
}

.admin-1 h1 {
  font-size: 25px;
  cursor: pointer;
  padding: 0 20px 0 20px;
  border-radius: 15px;
}
.admin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  gap: 10px;
}
.admin-button {
  background-color: #f4eee7;
  color: #000000;
  font-size: 20px;
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #000000;
  margin-left: 15px;
}

.admin-button:hover {
  border: 1px solid #1fa945;
  color: #1fa945;
}

.order-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f4eee7;
}

.greeting h1 {
  font-size: 45px;
}

.google-sign-in {
  width: 3%;
  margin-top: -5px;
  margin-left: 5px;
  cursor: pointer;
}

.logout-icon {
  font-size: 30px;
  cursor: pointer;
}

.logout-icon:hover {
  color: #1fa945;
}

.google-drive {
  width: 62px;
  cursor: pointer;
  padding: 7px 15px;
  margin-left: 25px;
  margin-top: 2px;
}

.google-drive:hover {
  border: 2px solid #1fa945;
  background-color: #f1eded;
  border-radius: 25px;
}

.dashboard {
  border-top: 1px solid #f4eee7;
}

.dashboard h1 {
  margin-top: 25px;
  font-size: 25px;
  margin-left: 25px;
}

.dashboard-1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  padding-left: 3%;

  /* justify-content: space-around; */
}

.dashboard-1 p {
  width: 13%;
}

.dashboard-icons {
  display: flex;
  gap: 5px;
}

.action-icon {
  cursor: pointer;
  margin-top: 5px;
}

.action-icon:hover {
  color: #fe9400;
}

.admin-auth {
  position: relative;
}

.admin-modal {
  background-color: #0f0e0ec9;
  padding: 30px 60px;
  z-index: 999;
  outline: none;
  position: absolute;
  left: 38%;
  top: 0%;
  border-radius: 25px;
}

.admin-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
}

.admin-modal-form p {
  font-size: 25px;
}

.admin-modal-top {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
}

.admin-modal-form-close {
  position: absolute;
  right: -90px;
  top: -25px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 0 10px;
  font-family: 'Zilla Slab', sans-serif;
}

.admin-modal-form button {
  background-color: #f4eee7;
  color: #000000;
  border: 2px solid #ffffff;
  padding: 0 75px;
  border-radius: 25px;
  width: 100%;
}

.admin-modal-form button:hover {
  color: #d57703;
  border: 2px solid #d57703;
}

.admin-modal-form textarea {
  height: 200px;
}

.admin-modal-form input,
.admin-modal-form textarea {
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 0 20px;
}

.admin-modal-form input.form-date {
  width: 110%;
}

.out-and-drive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.admin-search input {
  border-radius: 25px;
  padding: 5px;
}

.admin-search input::placeholder {
  padding-left: 10px;
}

svg.search-icon {
  color: #f1eded;
  margin-left: 15px;
  cursor: pointer;
}

svg.search-icon:hover {
  color: #1fa945;
}

/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES */

@media (min-width: 100px) and (max-width: 990px) {
  .first {
    flex-direction: column;
    padding-top: 15px;
  }

  .first h1 {
    padding-top: 10px;
  }

  .first h2 {
    font-size: 22.5px;
    margin-left: 0;
  }

  .home {
    width: 15%;
  }

  .google-sign-in {
    margin-top: 7.5px;
    width: 8%;
  }

  .admin-1 {
    padding: 0px;
  }

  .order-buttons {
    width: 100%;
    justify-content: center;
  }

  .google-drive {
    height: 80px;
    width: 155px;
    margin-bottom: 25px;
  }

  .admin-modal {
    padding: 30px 33px;
    left: -10%;
    top: -200px;
  }

  .admin-modal-form-close {
    right: -65px;
  }

  .admin-buttons {
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .out-and-drive {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 35px;
  }

  .admin-button {
    margin: 0;
    padding: 5px;
    border-radius: 40px;
  }

  .admin-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  svg.search-icon {
    margin-left: 20px;
  }

  .google-drive {
    width: 62px;
    height: fit-content;
    margin-left: 0px;
    margin-bottom: 0;
  }

  .dashboard-1 {
    overflow-x: scroll;
  }

  .dashboard {
    border: none;
  }

  .dashboard-1 p {
    width: fit-content;
  }

  .dashboard-icons {
    flex-direction: column;
  }

  svg.action-icon {
    font-size: larger;
    fill: #1fa945;
    margin-left: 5px;
  }
}
